body {
  background-color: #f1f1f1;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  max-width: 400px;
  width: 100%;
  margin: 50px auto;
  background-color: #fff;
  padding: 25px;
  border-radius: 5px;
}
form {
  display: flex;
  flex-direction: column;
}

h2 {
  text-align: center;
  color: #333;
}

label {
  margin-bottom: 8px;
  color: #555;
}
input,
select {
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
input[type="radio"] {
  margin-right: 5px;
}
.gender-options {
  display: flex;
  margin-bottom: 16px;
}
select {
  width: 100%;
}
input[type="submit"] {
  background-color: #3498db;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 12px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}
input[type="submit"]:hover {
  background-color: green;
}
